<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nova rezervacija</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Nova rezervacija</h1>

<form th:action="@{/saveReservation}" th:object="${reservation}" method="post">

    <label>Ime gosta:</label>
    <input type="text" th:field="*{customerName}">
    <br><br>

    <label>Broj stola:</label>
    <input type="number" th:field="*{tableNumber}">
    <br><br>

    <label>Datum:</label>
    <input type="date" th:field="*{reservationDate}">
    <br><br>

    <label>Vrijeme:</label>
    <input type="time" th:field="*{reservationTime}">
    <br><br>

    <button type="submit">Spremi rezervaciju</button>

</form>

</body>
</html>